body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
text-shadow: 1px 1px 2px white;
  text-transform: uppercase;
}

form.twond{
  margin-top: 20px;
  margin-left: 250px;
text-transform: uppercase;
}
.next{
  margin-top: -400px;
  margin-left: 250px;
  text-transform: uppercase;

}